#content{
  width: 100%;
  height:auto;
  display:block;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}
#content #content-img{
  width: 100%;
  height:540px;
  display:block;
  margin:15px auto 0;
  padding:0;
  border:#ccc solid 12px;
  position:relative;
  overflow:hidden;
}
#content #content-img img{
  width:100%;
  height:516px;
  position:relative;
}

.btn{
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  border:none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.btn:before{
    content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #333;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:hover:before{
  left: 0;
  right: 0;
}
.viewport{
  z-index: 50000!important;
}
.ui-widget-overlay.ui-front{
  z-index: 500010!important;
}
.ui-dialog.ui-widget {
  z-index: 500020!important;
}
.control-label{
    font-weight:400;
    line-height: normal;
}
.marker-point{
    background: rgba(255, 0, 0, 0.75);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: rgba(255,0,0,1) solid 1.5px;
}
.tab-content{
    background:#fff;
    padding: 10px 11px;
    margin-left: -30px;
    width: 113%;

}
.ui-dialog-titlebar-close{
    background-image: url('../img/ui-icons_0b54d5_256x240.png');
    background-position: -95px -127px;
    border: none;
    background-color: rgba(210, 210, 210, 1)
}
.ui-dialog-titlebar-close:hover{
    background-image: url('../img/ui-icons_0a82eb_256x240.png');
}